.container {
  width: 700px;
  margin-left: 30%;
  margin-top: 10%;
}

.primary {
  color: #1976d2;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondry {
  color: #9c27b0;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 500px;
}

.hidden {
  visibility: hidden;
}

.vissable {
  visibility: visible;
}
